/* Police personnalisée */
body {
  font-family: 'Gotu', sans-serif;

}
.bg-1 { background-color: #F4F4F9; /* Gris clair pour le fond */ }
.bg-2 { background-color: #FFFFFF; /* Blanc pour un style aéré */ }
.bg-3 { background-color: #F4F4F9; }
/* Classe pour agrandir le titre */
.display-title {
  font-size: 3rem; /* Ajuste la taille selon ton besoin */
  font-weight: bold;
}

/* Style de la légende sous l'image */
.photo-caption {
  font-size: 1.25rem; /* Augmenter la taille de la légende */
  color: #666;
  margin-top: 8px;
  font-weight: 500; /* Ajoute un peu de poids pour améliorer la lisibilité */
}

/* Réduire la taille du texte dans le container 2 */
.smaller-text {
  font-size: 1rem; /* Ajuste cette taille pour le rendu souhaité */
  color: #333;
}
.text-narrow {
  max-width: _60%; /* Ajuste cette valeur pour obtenir la largeur désirée */
  margin: 0 auto;
}



h1, h2, h3 {
  font-family: 'Gotu', sans-serif;
  color: #333; /* Un gris foncé pour le texte */
}
.navbar, footer {
  background-color: #333; /* Rendre la navbar et le footer uniformes */
}
.img-fluid {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.nav-link:hover, .text-light:hover {
  color: #FFC107; /* Couleur de survol */
  text-decoration: underline;
}

/* Espacement des sections */
.bg-1, .bg-2, .bg-3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Amélioration de l'image dans les containers */
.img-rounded {
  border-radius: 15px;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Footer */
footer {
  background-color: #222;
  color: #fff;
}

footer a:hover {
  color: #00BFFF;
}
